
:root {
  // COLORS
  --color-dark-blue: #2A3251;
  --color-pink-main: #E69096;
  --color-light-pink: #F3E6E4;
  --color-light-grey: #D1D1D1;
  --color-red: #FF313F;
  --color-white: #FFFFFF;
  --color-table-dividers: #DCCDCB;

  --color-white-text: #FFFFFF;
  --color-dark-text: #2C2C2D;
  --color-grey-text: #9E9E9E;

  //FONTS
  --font-spectral: "Spectral", sans-serif;
  --font-formular: "Formular", sans-serif;
  --font-inter: "Inter", sans-serif;

}
