.header {
  &__button-icon {
    margin-right: 15px;
    fill: var(--color-white);
  }

  &__button-none {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_right {
      margin-left: auto;
    }

    &:hover {
      color: var(--color-white);
      width: 126px;
    }

  }
}

.personal-data {
  padding: 50px 30px;

  &__title {
    margin: 0 0 30px 0;
    font-family: var(--font-spectral);
    font-weight: 600;
    font-size: 48px;
  }

  &-form {
    display: grid;
    grid-template-columns: (350px) (350px);
    row-gap: 39px;
    column-gap: 50px;

    &__item {
      display: flex;
      flex-direction: column;
      row-gap: 39px;
    }

    &__input {
      position: relative;
    }

    &__icon {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;

    }


    &__button {
      width: 100%;
      height: 50px;
      background-color: var(--color-dark-blue);
      color: var(--color-white-text);
    }
  }

  @include desktop {
    padding: 30px 20px;
  }
  @include mobile {
    padding: 20px;
  }
  @include mini-mobile {
    padding: 20px 10px;
  }
}

@media (max-width: 780px) {
  .personal-data-form {
    grid-template-columns:minmax(300px, 350px);
  }


}